.footer {
    display: flex;
    height: 30px;
    background-color: #1c80cf;
    color: #fff;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }