/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 220px; /* Adjust this based on the sidebar expanded/collapsed state */
  transition: width 0.3s;
}

.main-content {
  flex: 1; /* This makes the main content take up the remaining space */
  padding: 20px;
  transition: margin-left 0.3s; /* Smooth transition when sidebar changes */
}

/* When the sidebar is collapsed, reduce its width */
.sidebar.collapsed {
  width: 50px;
}

/* Adjust the margin based on the sidebar */
.main-content.collapsed {
  margin-left: 50px;
}

.main-content.expanded {
  margin-left: 220px;
}
